header{
    position: sticky;
     top: 0;
     z-index: 1;
     width: 100%;
     /* margin-bottom: 60px; */
     float: left;
     max-width: 1600px;
 }
 
 footer p{
    color: white;
 }

 .kart {
    margin: 100px 0;
    background-color: #F6F5FA;
    padding: 60px 0;
 }

 .product-image {
    width: 115px;
 }

 .product-remove {
    width: 25px;
 }