{% extends "fastrapibase/base.html" %}
{% load static %}
{% block content %}
    <section>
        <div class="container">
            <div class="kart">
                <div class="col-md-12 col-lg-10 mx-auto">
                    <div class="kart-product" id="product-display">
                        {% for id, product in data.kart.products.items reversed %}
                            <div class="kart-row">
                                {% with 'fastrapibase/media/'|add:product.title|add:'.png' as product_image %}
                                    <img class="product-image" src="{% static product_image %}" alt="product image">
                                    <h5>{{ product.title }}</h5>
                                {% endwith %}
                            </div>
                            <div class="col-md-5 center-item">
                                <div class="input-group number-spinner">
                                   <button id="{{ product.id }}-minus" class="btn btn-default"><i class="fas fa-minus"></i></button>
                                   <input id="{{ product.id }}-quantity" type="number" min="0" class="form-control text-center" value="{{ product.quantity }}">
                                   <button id="{{ product.id }}-plus" class="btn btn-default"><i class="fas fa-plus"></i></button>
                                </div>
                                <h5>Rs.<span id="{{ product.id }}-rate">{{ product.rate }}</span></h5>
                                <img id="{{ product.id }}-remove" src="{% static 'fastrapibase/media/remove.png' %}" alt="" class="product-remove">
                             </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block footer %}
    <footer class="fixed-bottom">
        <div class="navbar bg-dark">
            <div class="container">
                <p>Taxes: {{ data.kart.tax }}</p>
                <p>Sub Total: {{ data.kart.sub_total }}</p>
                <p>Total: {{ data.kart.total }}</p>
            </div>
        </div>
    </footer>
{% endblock footer %}