{% extends "fastrapibase/base.html" %}
{% block content %}
    {% for id, product in data.kart.products.items reversed %}
        <p>Product ID: {{ product.id }} TITLE: {{ product.title }} QUANTITY: {{ product.quantity }}</p>
    {% endfor %}
{% endblock content %}
{% block footer %}
    <footer class="fixed-bottom">
        <div class="navbar bg-dark">
            <div class="container">
                <p>Taxes: {{ data.kart.tax }}</p>
                <p>Sub Total: {{ data.kart.sub_total }}</p>
                <p>Total: {{ data.kart.total }}</p>
            </div>
        </div>
    </footer>
{% endblock footer %}